
@{
    ViewBag.Title = "AdicionarTarjeta";
}

<h2>AdicionarTarjeta</h2>


<html>
<head>
    <script src="~/Scripts/Validaciones.js"></script>
    <script src="~/Scripts/enviar.js"></script>
</head>
<body>
    <!--Ver esto del FORM -->
    <form action="/Solicitud/AdicionarTarjeta" method="post">
        <div class="container">
            <br>
            <div class="row">
                <div class="col-sm-6">
                    <label for="numeroDocumentoTitular">Ingrese Dni Titular:</label>
                    @Html.TextBox("numeroDocumentoTitular", null, new { placeholder = "Dni Titular", @type = "number", @class = "form-control", required = "required" })
                    @Html.TextBox("mensaje", null, new { placeholder = "", @type = "text", @class = "form-control", @readonly="readonly" })
                                        
                    <br>                    
                    
                    <input type="submit" class="btn btn-success" value="Buscar">
                </div>             
            </div>
               

        </div>
           
    </form>
</body>
</html>

